<h1>Types</h1>

<ul class="list-group list-group-flush">
  <% @types.each do |type| %>
    <li class="list-group-item">
      <%= link_to "#{type.name} Pokemons", type %>
      <em>(<%= pluralize type.pokemons.count, "Pokemons" %>)</em>
    </li>
  <% end %>
</ul>