<%= content_for(:html_title) { @type.name } %>

<h1> <%= @type.name %> Type Pokemons </h1>

<p>
  There are <%=@type.pokemons.count %> pokemons in this type
</p>

<ul>
  <% @type.pokemons.each do |pokemon| %>
    <li> <%= link_to pokemon.name, pokemon %> </li>
  <% end %>
</ul>