<%= content_for(:html_title) { @generation.number } %>

<h1> Generation <%= @generation.number %> </h1>

<p>
  There are <%= @generation.pokemons.count %> pokemons in this generation.
</p>

<ul>
  <% @generation.pokemons.each do |pokemon| %>
    <li> <%= link_to pokemon.name, pokemon %> </li>
  <% end %>
</ul>