<h1>Abilities</h1>

<ul class="list-group list-group-flush">
  <% @abilities.each do |ability| %>
    <li class="list-group-item">
      <%= link_to "Pokemons have #{ability.name} skill", ability %>
      <em>(<%= pluralize ability.pokemons.count, "Pokemons" %>)</em>
    </li>
  <% end %>
</ul>