<%= content_for(:html_title) { @ability.name } %>

<h1> <%= @ability.name %> Ability </h1>

<p>
  There are <%= @ability.pokemons.count %> pokemons have this ability
</p>

<ul>
  <% @ability.pokemons.each do |pokemon| %>
    <li> <%= link_to pokemon.name, pokemon %> </li>
  <% end %>
</ul>