<h1>Pokemons</h1>

<ul class="list-group list-group-flush">
  <% @pokemons.each do |pokemon| %>
    <li class="list-group-item"> <%= link_to pokemon.name, pokemon %> in generation <%= pokemon.generation.number %> </li>
  <% end %>
</ul>
<%= paginate @pokemons, theme: 'twitter-bootstrap-3' %>