<p>Found <%= pluralize(@result_pokemons.count, 'Pokemons') %> when searching for: <%= params[:keywords] %></p>

<ul>
  <% @result_pokemons.each do |pokemon| %>
    <li><%= link_to pokemon.name, pokemon %></li>
  <% end %>
</ul>
<%= paginate @result_pokemons, theme: 'twitter-bootstrap-3' %>